body, ul, li, h1, h2, h3, button{
    margin: 0;
    padding: 0;
    font-family:'Poppins';
}

* {
    box-sizing: border-box;
}

.header {
    background: #002547;
}

.logo {
    background: url('./Subtract.jpg') no-repeat;
    width: auto;
    height: 41px;
    padding-left: 45px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: contain;    
}

.list {
    width: 427px;
    height: 26.5px;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.list__item {
    color: white;
    margin-right: 25px;
}

.list__item:last-child {
    margin-right: 0;
}

.list__item:hover {
    cursor: pointer;
    font-size: larger;
    color:rgb(188, 255, 188);
}

.header__button {
    cursor: pointer;
    font: caption;
    color: blue;
    width: 147px;
    height: 53px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header__button:hover {
    font-size: larger;
}

.wrapper {
    height: 800px;
    max-width: 1600px;
    margin: 0 auto;
    background: url('./comp.png') no-repeat;
    background-size: contain;
    background-position-x: 900px;
}

.test {
    padding-right: 231px;
    padding-left: 231px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main__box__left {
    padding-top: 100px;
    max-width: 610px;
}

.top__but {
    width: 250px; 
    height: 50px;
    font-size: 20px; 
    border: 1px solid grey; 
    border-radius: 8px;
}

.top__but:hover {
    cursor: pointer;
}

.second__page {
    max-width: 1600px;
    margin: 0 auto;
}

.second__page__up {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.second__page__pic {
    max-width: 1600px;
    height: 46px;
    flex-wrap: wrap;
    margin: 130px;
    margin-left: 226px;
    background: url('./pics407.png') no-repeat;
    background-size: contain;
}

.low__pic {
    height: 574px;
    width: 574px;
    background: url('./sheets.png') no-repeat;
    background-size: contain;
}

.low__text {
    width: 496px;
    height: 590px;
}

.second__ul {
    margin: 35px;
    color: grey;
    font-size: 16px;
}

.second__page__low {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 260px;
}

.second__page__low__left {
    width: 490px;
    height: 696px;
}

summary {
    cursor: pointer;
}

details {
    user-select: none;
}

.summ__text {
    font-size: 20px;

}

.in__text {
    font-size: 18px;
}

details > summary {
    list-style-type: none;
}

summary:after {
    border-radius: 5px;
    content: url('./down.png');
    color: black;
    font-size: 1.5em;
    padding-left: 10px;
    text-align: center;

}

details[open] summary:after {
    content: "-";
    color: dodgerblue;
}

details[open] {
      color:dodgerblue;
}

.second__page__low__right {
    width: 1000px;
    height: 723px;
    background: url('./rightpic.png') no-repeat;
    background-size: contain;
}

.second__page__image {
    margin-right: 150px;
    margin-left: -30px;
    width: 490px;
    height: 414px;
    background: url('./FAQ.png') no-repeat;
    background-size: contain;
    transform: scale(1.5);
}

.low__but {
    margin-top: 20px;
    border: 0.5px inset steelblue;
    border-radius: 5px;
    width: 170px;
    height: 45px;
    font-size: 17px;
}

.low__but:hover {
    cursor: pointer;
}

.third__page__top {
    display: inline;
    text-align: center;
    width: 628px;
    height: 195px;
}

.rectangle {
    margin-left: 250px;
    margin-top: 100px;
    width: auto;
    height: 643px;
    background:url('./rect.png') no-repeat;
    
}

.rect__top {
    width: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 
.rect__1 {
    width: 225px;
    margin-right: 170px;
    margin-top: 60px;
    text-align: center;
}

.rectangle h2 {
    margin-top: 30px;
    font-size: 20px;
}

.rectangle p {
    font-size: 16px;
}

.rect__1 img {
    background-color: rgb(219, 235, 255);
    background-size: 20px;
}

.text__page4 {
    text-align: center;

}

.block__page4 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.list__page4 {
    font-size: 20px;
    margin: 40px;
    text-align: left;
    list-style: url('./done.png');
}

.list__page4__1 {
    list-style: url('./doen_white.png');
}

.block__1__page4 {
    margin-top: 60px;
    padding: 30px;
    border:1px solid powderblue;
    border-radius: 15px;
    width: 360px;
    height: 650px;
    text-align: center;
}

.block__2__page4 {
    margin-top: 30px;
    height: 720px;
    width: 400px;
    color:white;
    background: #002547;
}

.block__price {
    font-size: 39px;
    font-weight: bold;
}

.block__button {
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

.block__button__1 {
    font-size:17px;
    margin-bottom: 20px;
    color: white;
    background-color:#1D92FF;
    width: 220px;
    height: 50px;
}

.block__button__2 {
    margin-top: 45px;
    background: white;
    color:mediumturquoise;
    font-weight: bold;
}

.block__button:hover {
    cursor: pointer;
}

.almost__footer {
    position: relative;
    top: 230px;
    width: 1250px;
    height: 206px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 175px;
    background: #002648;
    color: white;

}

.almost__footer__text {
    width: 480px;
    height: auto;
}

.email__input {
    display: flex;
    align-items: center;
    width: 450px; 
    height:60px; 
    background: #002648;
    border:1px solid grey; 
    border-radius: 30px; 
    font-size: 20px;
    padding: 30px;
    color: white;
}

.email__input__field {
    width: 450px; 
    height:60px; 
    background: #002648;
    border:none;
    font-size: 20px;
    color: white;
}


.button__almost__footer {
    width: 110px;
    height: 45px;
    border-radius: 25px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center

}

footer {
    margin-top: 200px;
    color: grey;
    height: 376px;
    background: #070C11;
}

.footer__footer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.footer__logo {
    background: url('./Subtract.jpg') no-repeat;
    width: auto;
    height: 41px;
    padding-left: 45px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: contain;
    color: white;
}

.footer__main {
    margin: 30px;
    width: auto;
}

.footer__main:first-child {
    width: 250px;
}

footer h2 {
    font-size: 19px;
    color: white;
}

.email__input__field__footer {
    padding-left: 15px;
    margin: 10px;
    width: 210px; 
    height: 35px; 
    background: transparent;
    border:1px solid grey;
    border-radius: 20px;
    font-size: 15px;
    color: white;
}